<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gustavo Alves - Site Pessoal</title>
    <link rel="stylesheet" href="css/tailwind.css">
</head>
<body>
    <header>
        <nav>
            <h1>Gustavo &lt;/&gt; Alves</h1>
    
            <ul>
                <li>
                    <a href="#">Home</a>
                    <a href="#">Serviços</a>
                    <a href="#">Projeto</a>
                    <a href="#">Contato</a>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        <h2>Gustavo Alves</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ab, totam tempora ducimus maxime sit, cupiditate nostrum at natus ipsa distinctio blanditiis dolore perferendis eos reiciendis facere laborum dignissimos ut?
        </p>
        <a href="#">ME CONTRATE</a>
    </div>
    <div>
        <img src="#" alt="Banner Home">
        <div>
            <i>INSTA</i>
            <i>LINKEDIN</i>
            <i>GITHUB</i>
        </div>
    </div>
    <div>
        <img src="#" alt="Logo empresa 01">
        <img src="#" alt="Logo empresa 02">
        <img src="#" alt="Logo empresa 03">
        <img src="#" alt="Logo empresa 04">
    </div>
    <div>
        <div>
            <h2>1+</h2>
            <p>
                Experiência de Trabalho
            </p>
        </div>
        <div>
            <p>Perfil Empreendedor. Gosto de estudar sobre empreendedorismo, principalmente voltado para a área de tecnologia e marketing digital.</p>
            <div>
                <div>
                    <span>icone</span>
                    <h3>Desenvolvedor Backend</h3>
                </div>
                <div>
                    <span>icone</span>
                    <h3>Desenvolvedor Frontend</h3>
                </div>
                <div>
                    <span>icone</span>
                    <h3>Designer Gráfico</h3>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <a href="#">gustavoalvesdasilva@outlook.com</a>
        </div>
        <div>
            <h1>Gustavo &lt;/&gt; Alves</h1>
        </div>
        <div>
            <i>whatsapp</i>
            <a href="#">+55 11 99653-1308</a>
        </div>
    </footer>
</body>
</html>